<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>

<head>
    <title>
        Create a Checklist
    </title>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">GoForLaunch</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/browse">Browse Checklists</a></li>
                <li class="active"><a href="/checklist">Create a Checklist</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="checklist-definition">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="checklistname" placeholder="Name of the checklist">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <textarea class="form-control" id="checklistdesc" rows="3" placeholder="Describe the checklist"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <a href="#" class="btn btn-default btn-lg" onclick="service.addStep()"><span class="glyphicon glyphicon-plus"></span> Add a new step</a>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-success btn-lg" onclick="service.finish()"><span class="glyphicon glyphicon-ok"></span> Finish</a>
                </div>
            </div>
            <hr />
            <div class="row">
                <div id="step-wrapper"></div>
            </div>
        </div>
        <div class="modal-box invisible">
            <div class="modal-text">
                
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/helper.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
</body>

</html>