<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>

<head>
    <title>
        GoForLaunch
    </title>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">GoForLaunch</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/browse">Browse Checklists</a></li>
                <li><a href="/checklist">Create a Checklist</a></li>
            </ul>
        </div>
    </nav>
    <div class="col-md-12">
        <div class="row">
            <div class="text-center home-section-1">
                <div class="row home-section-1-head">Be precise</div>
                <div class="row home-section-1-text">Keep track of all your recipes and checklists so that you end up with the same results everytime</div>
                <div class="row">
                    <a href="/browse" class="btn btn-default btn-lg browse-checklist-button">Browse Checklists</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>